* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

h1 {
    font-size: 6rem;
    color: #ffffff;
}

@media (max-width: 670px) {
    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 1.5rem;
    }
}

img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: top;
}

.image-fond{
    position: absolute;   
}

.fond {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
}

.content {
    text-align: center;
    padding: 2rem 4rem;
    border-radius: 20px;
    background: linear-gradient(#6666663d, #555555);
}

.ani-bounce {
    display: inline-block;
    margin: 0 0.5rem;

    animation: boing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes boing {
    0%   { transform: translateY(0) }
    33%  { transform: translateY(-50px) }
    67%  { transform: translateY(-25px) }
    100% { transform: translateY(0) }
}